:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.recipe{
  h2{
    color: white;
    text-transform: capitalize;
    font-size: clamp(1.3rem, 3vw, 2.2rem);
  }
  h3{
    font-size: clamp(1.1rem, 2.1vw, 1.5rem);
  }
  ol, ul{
    font-size: clamp(1rem, 1.1vw, 1.2rem);
  }
}




